.dot {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #FF0000;
}

.dot::after {
    position: relative;
    bottom: 20px;
    left: 2px;
}

#dot1::after {
    content:'1';
}
#dot2::after {
    content:'2';
}
#dot3::after {
    content:'3';
}

.line {
    height: 1px;
    background-color: #0000FF;
    transform-origin: 0 100%;
    z-index: 1;
}

.circle {
    border-radius: 50%;
    border: solid 1px #FFFF00;
}

button {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#about {
    position: fixed;
    top: 30px;
    right: 20px;
}

#about-details {
    width: 500px;
    /* border: solid 1px #000000; */
    background-color: #FFFFFF;
    margin: 3px 5px 10px;
    color: black;
    text-shadow: none;
    text-align: justify;
    display: none;
}

#about-details p {
    padding: 10px;
    font-size: 13px;
}
